<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.lyc">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <nav-graph android:value="@navigation/mobile_navi" />
        </activity>

        <activity android:name=".ui.databind.DataBindingActivity"
            android:screenOrientation="unspecified"/>

        <activity android:name=".ui.chronometer.ChronometerActivity"/>

        <activity android:name=".ui.lifecycle.LifeCycleActivity"/>
        <activity android:name=".ui.vmsync.VmSyncActivity"/>
        <activity android:name=".ui.navi.NavigationActivity"
            android:theme="@style/AppThemeNoActionBar"/>

        <receiver android:name=".ui.navi.NavigationDeepLinkProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/deep_link_appwidget_info" />
        </receiver>
    </application>

</manifest>